/* Navbar.css */

nav {
    position: absolute;
    width: 97.8%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 1rem;
    font-family: 'Courier New', monospace;
    letter-spacing: 5px;
    /* background: rgba( 204, 25, 25, 0.45 ); */
   background: url(/src/assets/tree-image.jpg);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}
  
b{
    text-align: center;
    font-size: 24px;
    color: #7c1515;
}